{% extends 'base.html.twig' %}

{% block title %}Edit Follower{% endblock %}

{% block body %}
    <h1>Edit Follower</h1>

    {{ include('follower/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('follower_index') }}">back to list</a>

    {{ include('follower/_delete_form.html.twig') }}
{% endblock %}
